/* Global */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

*::selection {
	background: rgba(0, 0, 0, .1);
}


body {
	font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #f8f8f8;
}

html, body {
    overflow-x: hidden;
}


h1 {
	font-size: 49px;
	font-weight: 800;
	color: #2D2D2D;
	letter-spacing: 0;
	line-height: 58px;
	margin-bottom: 48px;
	margin-left: 20px
}

/*h2 {
	font-size: 28px;
	font-weight: 500;
	color: #2D2D2D;
}*/

h3 {
  font-size: 24px;
  font-weight: 800;
  color: #2D2D2D;
  margin-bottom: 48px;
}

p {
	font-size: 14px;
	color: #2D2D2D;
}

/*p a {
	color:#2D2D2D;
}*/

a {
	color:inherit;
	text-decoration: none;
	cursor: pointer;
	transition: all .25s ease-in-out;

}

* {
  box-sizing: border-box;
}



/* Homepage */

.container {
	padding: 160px 0;
}

.center {
    margin: auto;
    position: relative;
    top: 50%;
}




/* header */

.home-container{
	max-width:1185px;
	margin: 0 auto;
}

.container--header {
  height: 50vh;
  min-height: 300px;
	padding: 0;
	margin: 0 20px;
	top: -15%;
	-webkit-transform: translateY(15%);
	-ms-transform: translateY(15%);
	transform: translateY(15%);
}


.home-title {
  font-size: 49px;
  color: #979797;
  letter-spacing: 0;
  line-height: 58px;
	transition: all .25s ease-in-out;

}

.home-title span {
  color:#2d2d2d;
  font-weight: 800;

}

#text-change {
	-webkit-animation: fadeEffect 0.25s;
	animation: fadeEffect 0.25s;
	/*transition: all .25s ease-in-out;*/
}
/*
.home-title:hover {
	cursor: pointer;
}*/



/* tabs */
/* Style the tab */
div.tab {
    overflow: hidden;

}

/* Style the buttons inside the tab */
div.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 20px 12px 20px;
    transition: 0.25s;
		color: #AEAEAE;
		font-size: 16px;
		font-weight: 600;
		background-color:inherit;
}

/* Change color of buttons on hover */
div.tab button:hover {
    color: #2D2D2D;
}

/* Create an active/current tablink class */
div.tab button.active {
    color: #2D2D2D;
}

/* Style the tab content */
.tabcontent {
    display: none;

}

.tabcontent {
    -webkit-animation: fadeEffect 0.25s;
    animation: fadeEffect 0.25s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* tab-underline */
.tab-underline {
		height: 3px;
		/*width: 100%;*/
		margin: 0 20px;
		border-radius: 3px;
		position: relative;
		margin-bottom: 28px;
		/*background-color:#f2f2f2;*/


	}

	.tab-underline .line {
		display: inline-block;
		height: 3px;
		background-color: #2D2D2D;
		position: absolute;
		left: 0;
		transition: .3s ease-in-out;
	}






/* work */

.container--work h3 {
	margin-left: 20px;
	margin-right: 20px;
}




/* card */
.card-col-1 {
	width: 1145px;
}

.card-col-2{
  width: 552.5px;
}

.card-col-3{
  width: 355px;
}

.card-col-4 {
	width: 246.25px;
}

.card {
	box-shadow: 0 10px 10px rgba(0,0,0,.08);
  -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.08);
	margin: 20px 20px;
	background-color: #fff;
	/*border: 1px solid #e6e6e6;*/

}

.card-hero{
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	position:relative;
	clear: both;
	float: left;
	overflow: auto;
	width: 100%;
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
}

.card-body {
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	overflow: visible;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 32px;
	z-index: 2;
	border-top: 1px solid rgba(0,0,0,.08) ;

}

.card-footer {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 32px;
	padding-bottom: 32px;

	bottom: 0px;
	width: 100%;
	overflow: visible;
	clear: both;
}


.card-image{
	width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
-webkit-transform: scale3d(1, 1, 1);
				transform: scale3d(1, 1, 1);
}

.card-col-1 .card-image, .card-col-2 .card-image {
	height: 400px;
}

.card-col-3 .card-image {
	height: 300px;
}


.card-title {
	font-size: 30px;
	font-weight: 800;
	line-height: 32px;
  color: #2D2D2D;
	/*padding: 0 20px;*/
  /*float: left;*/

}

.card-description {
	font-size: 19px;
	font-weight: 500;
	color: #979797;
	padding-top: 8px;
}

.card-col-3 .card-title{
  font-size: 27px;
  line-height: 26px;
}

.card-col-3 .card-description {
	font-size: 16px;
  line-height: 22px;
}


.card-tag {
  font-size: 13px;
  font-weight:500;
  color: #979797;
}






/* more */

.more a {
  font-size: 17px;
  font-weight: 600;
	color: #2D2D2D;
	transition: all .25s ease-in-out;
	margin-top: 48px;
}




#more a {
	padding: 16px 48px;
	/*border: 1px solid #2D2D2D;*/
	color: #fff;
	background-color:#2D2D2D;
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	border-radius: 3px;
}

#more a:hover {
	background-color:#fff;
	color: #2D2D2D;
	box-shadow: 0 0 12px rgba(0,0,0,.08);
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,.08);
}




/* about */

.container--about {
	margin: 0 20px;
	border-top: 1px solid #CCC9C9 ;
}

.content-title {
	font-weight: 800;
	font-size: 30px;
	color: #2D2D2D;
	letter-spacing: -0.4px;
	line-height: 46px;
}

.content-description {
	font-weight: 300;
	font-size: 30px;
	color: #979797;
	letter-spacing: -0.4px;
	line-height: 46px;
}






/* process */

.container--process {
	position: relative;
  background: #f2f2f2;
	margin: 0 20px;
}

.container--process:before, .container--process:after {
  content: "";
  position: absolute;
  background: #f2f2f2;  /* Match the background */
  top: 0;
  bottom: 0;
  width: 9999px;   /* some huge width */
}

.container--process:before {
  right: 100%;
}

.container--process:after {
  left: 100%;
}

.doubledimond {
    text-align: center;
    margin: 96px 0 0 0;
}






/* footer */

footer {
	font-size: 17px;
	font-weight: 500;
	color: #2D2D2D;
	text-align: center;
	margin: 0 20px;
}

.location, .email, .social-icon {
	width: 220px;
}

.location {
	text-align: center;
}

.social-icon {
	text-align: center;
}

.linkedin {
	margin: 0 0 0 28px;
  padding-bottom: 3px;
}

.email {
	text-align: center;
}

.all-rights-reserved {
	margin-top: 96px;
}
