/*.container--photo-grid-card {
  margin-left: 20px;
}

.photo-grid-card {
	box-shadow: 0 10px 16px rgba(0,0,0,.06);
  -webkit-box-shadow: 0 10px 16px rgba(0,0,0,.06);
	margin-top: 20px;
  margin-right: 20px;
  width: 368px;
}

li:last-child .photo-grid-card{
  margin-right: 0;
}

.photo-grid-card-hero{
  display: block;
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	width: 100%;
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
}

.photo-grid-card-image{
	width: 100%;
  height: 368px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
}


@media only screen and (max-width: 790px) {

  .photo-grid-card {
		width: 335px;
	}

  .photo-grid-card-image{
  	width: 100%;
    height: 335px;
  }

}*/





.photo-grid-card {
	box-shadow: 0 10px 16px rgba(0,0,0,.06);
  -webkit-box-shadow: 0 10px 16px rgba(0,0,0,.06);
	margin:20px;
  width: 335px;
}

.photo-grid-card-hero{
  display: block;
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	width: 100%;
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
}

.photo-grid-card-image{
	width: 100%;
  height: 335px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
}
