/* responsive */


@media only screen and (max-width: 1125px) {
	.home-container {
		max-width: 750px;
	}
	.card-col-1 {
		width: 750px;
	}

	.card-col-2 {
		width: 375px;
	}

	.card-col-2 .card-image {
		height: 300px;
	}

	.card-col-2 .card-title, .card-col-2 .card-description {
	  font-size: 22px;
	  line-height: 28px;
	}

}

@media only screen and (max-width: 890px) {

}

@media only screen and (max-width: 750px) {

	.home-container {
		max-width: 375px;
	}

	.card-col-1 {
		width: 375px;
	}

	.card-col-1 .card-image {
		height: 300px;
	}

	.card-col-1 .card-title, .card-col-1 .card-description {
	  font-size: 22px;
	  line-height: 28px;
	}

	.location, .email, .social-icon {
		margin: 24px 0;
	}

	.content-title, .content-description {
		font-size: 18px;
		letter-spacing: -0.4px;
		line-height: 26px;
	}

	h3 {
		font-size: 16px;
	}

	div.tab button{
		font-size: 14px;
	}



	/* header */
	.container--header {
		height: 80vh;
	  min-height: 300px;
		padding: 0;
		margin: 0 20px;
		top: 5%;
		-webkit-transform: translateY(-5%);
		-ms-transform: translateY(-5%);
		transform: translateY(-5%);
	}

	.home-title {
		font-size: 32px;
	  line-height: 42px;
	}

	.line-break:after {
    content:"\a";
    white-space:pre;
	}

	/* topbar */
	.nav {
		padding: 20px 20px;
	}

	.logo, .hamburger {
		scale: 0.8;
	}

	/*dropdown*/
	.dropdown {
		height: 70vh;
	}

	#dropdown-logo {
		display: none;
	}

	.menu-description {
		display: none;
	}

	#dropdown-bottom-row {
		display: none;
	}



}




@media only screen and (max-width: 370px) {
	.home-container {
		max-width: 320px;
	}

	.card-col-1, .card-col-2, .card-col-3 {
		width: 320px;
	}
}


@media screen and (max-height: 700px) and (min-width: 1225px) {

}
